{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="flex">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card text-right" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
<div class="sm">
    <footer>
        <a href="#"><span class="fa fa-github"></span></a>
        <a href="#" style="padding-left: 25px;"><span class="fa fa-facebook"></span></a>
        <a href="#" style="padding-left: 25px;"><span class="fa fa-twitter"></span></a>
        <a href="#" style="padding-left: 25px;"><span class="fa fa-instagram"></span></a>
        <a href="#" style="padding-left: 25px;"><span class="fa fa-envelope"></span></a>
    </footer>
</div>

{% endblock %}